<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <!-- 开启结果集自动映射（"_"——>驼峰命名） -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>

        <typeAlias alias="UserEntity" type="com.qilu.qilucommonservicefacade.entity.user.UserEntity" />
        <typeAlias alias="RoleEntity" type="com.qilu.qilucommonservicefacade.entity.user..RoleEntity" />
        <typeAlias alias="PermissionEntity" type="com.qilu.qilucommonservicefacade.entity.user..PermissionEntity" />

    </typeAliases>

    <typeHandlers>
        <!-- 所有枚举均使用EnumTypeHandler进行转化 -->
        <typeHandler handler="com.qilu.qilucommonservicefacade.typehandler.EnumTypeHandler" javaType="com.qilu.qilucommonservicefacade.enumeration.BaseEnum"/>
    </typeHandlers>

</configuration>